/*
 * @Author: N0ts
 * @Date: 2021-10-08 00:37:27
 * @LastEditTime: 2021-10-09 17:00:19
 * @Description: main
 * @FilePath: /eazy-gitee-note/css/main.css
 * @Mail：mail@n0ts.cn
 */

/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    word-break: break-all;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: text !important;
}

[v-cloak] {
    display: none;
}

html,
body,
#main,
.el-container {
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/* 统一过渡 */
.treesItem {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/* 按钮过渡 */
.treesItem {
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

/* 左侧 */
.el-aside {
    min-width: 200px;
    height: 100%;
    overflow-y: scroll;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* 菜单 */
.el-tabs__header {
    padding: 0 20px;
    box-sizing: border-box;
}

/* 文件树 */
.trees,
.contentTrees {
    padding-bottom: 20px;
    box-sizing: border-box;
}

/* 文件列表头部 */
.treesHead {
    margin: 0 0 5px 15px;
}

/* 文件列表 */
.treesItem {
    padding: 8px 5px 8px 30px;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0.5;
}

/* 目录 */
.contentTrees {
    padding: 0 15px;
}

.contentItem {
    padding: 5px;
    cursor: pointer;
    opacity: .5;
}

.contentTrees .H2 {
    padding-left: 20px;
}

.contentTrees .H3 {
    padding-left: 30px;
}

.contentTrees .H4 {
    padding-left: 40px;
}

.contentItemActive {
    opacity: 1;
}

/* 主体 */
.content {
    padding: 50px 80px;
    box-sizing: border-box;
}
