/*
 * @Author: N0ts
 * @Date: 2021-10-08 00:37:27
 * @LastEditTime: 2021-10-08 17:45:54
 * @Description: main
 * @FilePath: \eazy-gitee-note\css\main.css
 * @Mail：mail@n0ts.cn
 */

/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    word-break: break-all;
    outline: none;
    font-family: lovexhj;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: text !important;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
        sans-serif;
}

[v-cloak] {
    display: none;
}

html,
body,
#main,
.el-container {
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/* 统一过渡 */
.treesItem {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/* 按钮过渡 */
.treesItem {
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

/* 加载遮罩 */
.el-loading-mask {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.el-loading-spinner .path {
    stroke: black;
}

.el-input-number__decrease:hover,
.el-input-number__increase:hover,
.el-loading-spinner .el-loading-text,
.el-loading-spinner i {
    color: black;
}

/* 左侧 */
.el-aside {
    min-width: 200px;
    height: 100%;
    overflow-y: scroll;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* 菜单 */
.el-tabs__header {
    padding: 0 20px;
    box-sizing: border-box;
}

.el-tabs__item.is-active,
.el-tabs__item:hover {
    color: black;
}

.el-tabs__active-bar {
    background-color: black;
}

/* 文件树 */
.trees {
    padding-bottom: 20px;
    box-sizing: border-box;
}

/* 文件列表头部 */
.treesHead {
    margin: 0 0 5px 15px;
}

/* 文件列表 */
.treesItem {
    padding: 5px 5px 5px 30px;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0.5;
}

.treesItem:hover {
    opacity: 1;
    border-left: 5px solid rgb(185, 185, 185);
}

.treesItemActive {
    opacity: 1;
    background-color: rgb(228, 228, 228);
    border-left: 5px solid black;
}

/* 目录 */
.contentTrees {
    padding: 0 15px;
}

/* 主体 */
.content {
    padding: 50px 80px;
    box-sizing: border-box;
}
